apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- configmap.yaml
- deployment.yaml
- nginx-ingress.yaml
- secret.yaml
- service.yaml

images:
- name: epscavalcante/codeflix-keycloak
  newName: epscavalcante/codeflix-keycloak
  newTag: v0.0.11
